.searchTerm {
    display: flex;
    flex-direction: column;
    color: #141c3a;
}

.search-container {
    position: relative;
}

.search {
    width: 100%;
    padding: 9px 25px 9px 40px;
    border-radius: 16.5px;
    border: solid 1px #141c3a;
    background-color: #ffffff;
    outline: none;
    box-sizing: border-box;
}

.search-icon {
    opacity: 0.5;
    position: absolute;
    top: 12px;
    left: 13px;
}

.search::placeholder {
    font-size: 14px;
    font-weight: bold;
    color: #8a8e9d;
}

.search-clear-button {
    position: absolute;
    right: 2px;
    top: 12px;
    bottom: 1px;
    border: 0;
    background: none;
    color: #141c3a;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
}